
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* NAV */
.navbar-expand-lg {
  background-color: black;
  /* height: 85px; */
}

a.navbar-brand{
	margin: 0 3em 0 2.5em;
   background-color: white;
   border-radius: 25px;
}


a.nav-link {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.95rem;
    color: #fff;
    letter-spacing: 0.0625em;
    margin: 0 3em 0 2.5em;
    font-weight: bold;
}

a.nav-link:hover {
  color: white;
  border-bottom: 1px solid red;
}

.navbar-toggler-icon.icon-bar{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

/* END NAV */

/* about landing header */
.b-g{
    background-image: url('../images/DSC_1767.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
 }

.h1bg{
    color:white;
    margin-top: 4.8em;
    text-align: center;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.h3bg {
  color:white;
  margin-top: 2em;
  text-align: center;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

.textBg{
    text-align: center;
}

.animate-charcter
{
    margin-top: 1.5em;
    margin-bottom: 2rem;
    color:white;
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;  
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.customBtn-registration{
	margin-top: 2.5em;
}

.customBtn {
  padding: 15px;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  transition: all .5s ease; 
}

.btn--registration {
  color: #fff;
  padding-right: 0;
  background-color: #c0392b;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 70%, 90% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 0 100%);

}

.btn--registration:hover { 
	color: white;	
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);  
}

.btn--registration:after {
  content: "\f004";
  color: #e74c3c;
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  right: -55px;
  transition: all 0.2s ease;
}

.btn--registration:hover:after {
  margin: -5px 15px;
  right: 0px;

}

/* END landing header */


.card-body{
    text-align: center;
    border: 3px solid black;
}


.iconCustom {
  margin-bottom: 10px;
}



/* FOOTER */

.customFooter{
	color: white;
	background-color: black;
	margin-top: 6em;
	overflow-x: hidden;
	border-top: red solid 0.5px;
}


.customFooter a{
	margin: 2em;
}

.customAboutImg{
    width:100%;
    height:100%;
}


/* ABOUT PAGE */
.aboutPage{
    background-color: black;
}
.d-block{
  max-height: 47em;
}


.aboutPageContentText {
  color: white;
  font-size: 18px;
  margin-left: 30px;
  margin-right: 10px;
}

.aboutPageContentHeader {
  color: white;
  font-size: 28px;
  margin-top: 1.5em;
  margin-left: 60px;
}

 .sponsorsLogo{
   border-bottom: black 2px solid;
 }

 .headingRegistration{
  padding-bottom: 1em;
  background: #00F000;
  background: -webkit-linear-gradient(to top right, #00F000 37%, #00D9D9 100%);
  background: -moz-linear-gradient(to top right, #00F000 37%, #00D9D9 100%);
  background: linear-gradient(to top right, #00F000 37%, #00D9D9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 350px;
  font-size: 40px;
  
 }

 .headingDonation{

  background: #fff833; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fff833, #ff941a); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fff833, #ff941a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 350px;
  font-size: 40px;

 }
 .customContactRegistration, .customTextRegistration{
  color: red;
 }

 .styleCardRegistration{
   background-color: rgb(45, 43, 43);
 }


 /* images for photos and sponsors */

 .close {
  font-size: 1.5rem;
}

.col-12 img {
  opacity: 0.7;
  cursor: pointer;
  margin: 2rem;
  width: 100%;
}

.col-12 img:hover {
  opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Style logos and images when pop up */
.carousel-item-next, .carousel-item-prev, .carousel-item.active{
  display: block;
  padding: 1.8em;
}

 
 /* =========== */
  /* MOBILE */
@media (max-width: 540px) {
  .h1bg{
      font-size: 23px;
  }
  .h3bg{
    font-size: 20px;
  }
  
  .golflogo{
    width: 80;
    height: auto;
  }
	.animate-charcter{
	  font-size: 27px;
    margin-top: 0.3em;
	}
	a.navbar-brand{
	  margin-left: 1em;
	}
	  
	.customFooter a{
		margin: 0.2em;
	}

	a.nav-link{
		text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;

	}
  .d-block{
      height: 20em;
    }
  .aboutPageContentText {
    color: white;
    font-size: 12px;
    margin-left: 17px;
}
  
  .aboutPageContentHeader {
      color: white;
      font-size: 20px;
      margin-top: 1.5em;
      margin-left: 20px;
  }

  .headingRegistration, .headingDonation{
    font-size: 25px;
  }
  .customTextRegistration{
    font-size: 15px;
  }
  .col-12 img {
    margin-left: 0rem;
    width: 100%;
  }
  
  .sponsorDescription{
    font-size: 1.1rem;
  }
}

@media screen and (min-width : 540px) and (max-width : 1024px){
  .h1bg{
    font-size: 32px;
  }
  .h3bg{
    font-size: 28px;
  }
	a.nav-link{
		text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
	}
  .golflogo{
    width: 90;
    height: auto;
  }
  .animate-charcter{
    font-size: 36px;
    margin-top: 1em;
  }
}


